*{
  box-sizing: border-box;
  margin: 0px;
}
#logofondo{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(120,9,121,1) 55%, rgba(0,48,255,1) 100%);
    border-radius: 5px;
    width: 40px;
    text-align: center;
    font-family: Apple Chancery, cursive;
}
h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    padding: 80px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    }
    
.elegantshadow {
    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: .15em;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
      -5px 10px 1px #7f7d7d, 
      -6px 12px 1px #828181, 
      -7px 14px 1px #868585, 
      -8px 16px 1px #8b8a89, 
      -9px 18px 1px #8f8e8d, 
      -10px 20px 1px #949392, 
      -11px 22px 1px #999897, 
      -12px 24px 1px #9e9c9c, 
      -13px 26px 1px #a3a1a1, 
      -14px 28px 1px #a8a6a6, 
      -15px 30px 1px #adabab, 
      -16px 32px 1px #b2b1b0, 
      -17px 34px 1px #b7b6b5, 
      -18px 36px 1px #bcbbba, 
      -19px 38px 1px #c1bfbf, 
      -20px 40px 1px #c6c4c4, 
      -21px 42px 1px #cbc9c8, 
      -22px 44px 1px #cfcdcd, 
      -23px 46px 1px #d4d2d1, 
      -24px 48px 1px #d8d6d5, 
      -25px 50px 1px #dbdad9, 
      -26px 52px 1px #dfdddc, 
      -27px 54px 1px #e2e0df, 
      -28px 56px 1px #e4e3e2;
  }
  .cajita{
    border-radius: 10px;
    background-color: #737272;
    color: white;
    width: 570px;
    height: 150px;
    margin: 10px;
    position: relative;
  }
  .content{
    text-align: center;
    border: 5px solid black;
    background-color: rgb(230,230,230);
  }
  .accordion-item{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 350px;
    background-color: rgb(230,230,230);
  }
  hr{
    margin: 0px 100px 0px 100px;
  }
 .description{
  width: 50%;
  margin-left: 320px;
 }
 .accordion-button{
  background-color: rgb(230,230,230);
 }
 footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
 color:#44bae8;
 font-size: 16px;
 text-decoration: none;
}
.footer-bottom span{
   text-transform: uppercase;
   opacity: .4;
   font-weight: 200;
}
@media (max-width:500px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  }
  .img-fluid{
    margin: 30px 0px 50px 0px;
  }
  #frontp{
    width: 100%;
    margin: auto;
  }
 #front{
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 50px;
 }
 #front1{
  width: 40%;
  margin: auto;
 }
 #cajawhy{
  width: 50%;
  margin: auto;
 }
 @media screen and (max-width: 550px){
  h1{
    max-width: 100%;
    font-size: 50px;
  }
 }